@font-face {
  font-family: Vallhalla;
  /* src: local('VA-11 Hall-A 6px'), url(./assets/fonts/va-11-hall-a-6px.ttf) format('ttf'); */
  src: url(./assets/fonts/va-11-hall-a-6px.ttf);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font: 400 24px Vallhalla;
  color: #ffff;
}

main {
  display: grid;
  grid-template-rows: 28fr 20px 8fr;
  height: 100vh;
  border: 40px solid #1F1A2D;
  background-color: #000000;
}

#jukebox {
  display: grid;
  grid-template-columns: 630px auto;
  column-gap: 10px;
  max-height: 100%;
}

.divisor {
  background-color: #1F1A2D;
}
